/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* Make html & body full height */
html, body {
    height: 95%;
    background: white;
}

/* Body styling */
body {
    margin: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
body{
    background-image: url("images/images.jpeg");
    background-size: 100% 600px;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: white;
}
header nav ul{
    display: flex;
    margin-top: 25px;
    margin-right: 200px;
    gap: 50px;
}
a{
    text-decoration: none;
}
nav a:hover,
nav a.active{
    border-radius: 0.5rem;
    padding: 5px;
    background: linear-gradient(rgb(45, 45, 138),rgb(106, 29, 106));
    color: white;
}
li{
    list-style: none;
}
header .logo{
    margin: 10px 20px;
    font-size: 2rem;
    color: blue;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
    margin-left: 25%;
}
.body .text{
    width: 500px;
    font-size: 20px;
    color: white;
}
.body .searchbar{
    display: flex;
    gap: 40px;
    background: white;
    border-radius: 2rem;
    padding: 10px;
    width: 650px;
}
.body .searchbar .t1{
    display: flex;
    gap: 20px;
}
.body .searchbar .t1:hover{
    border-radius: 1rem;
    color: white;
    padding: 2px;
    background: linear-gradient(rgb(45, 45, 138),rgb(106, 29, 106));
}
.t2 button{
    border-radius: 1rem;
    padding: 5px;
    color: white;
    background: linear-gradient(rgb(45, 45, 138),rgb(106, 29, 106));
    margin-left: 40px;
}
.visited{
    text-align: center;
    padding-top: 20px;
    margin-top: 8%;
    width: 100%;
    height: 100px;
    color: blue;
    background: white;
}
